<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/CSS/style.css" />
  <title>Document</title>
</head>
<body>
  <header>
    <a href="Client.html"><button style="width: 5em; position: fixed;">Voltar para pagina Client</button></a>
    <img src="static/Img/Logo_e_tipo.png" alt="">
    <h1>CATÁLOGO ATACADO
        2025</h1>
    <h3>Jv Cactos e Suculentos</h3>
  </header>
  <main>
    <form action="/criar" method="POST" enctype="multipart/form-data">
        <input type="text" name="Nome" placeholder="Nome" required>
        <input type="file" name="Img" required>
        <input type="text" name="Desc" placeholder="Descrição" required>
        <input type="text" name="Valor" placeholder="Preço" required>
        <button type="submit">adicionar</button>
      </form>
    <ul>
      {% for Planta in Plantas%}
        <div class="produto">
            <form action="/delete/{{ Planta.id }}" method="POST">
              <button style="position: absolute;" type="submit">X</button>
            </form>
            <!-- {{ Planta.Nome }}, {{ Planta.Img }}, {{ Planta.Desc }}, {{ Planta.Valor }} -->
            <form action="/update/{{Planta.id}}" method="post" enctype="multipart/form-data">
              <div class="img">
                <img src="static/{{ Planta.Img }}" alt="Imagem do Produto"/>
                <input type="file" name="Img">
                <h2>{{ Planta.Nome }}</h2>
              </div>
              <div class="edit">
                  <input type="text" name="Nome" value="{{ Planta.Nome }}" required>
                  <input type="text" name="Desc" value="{{ Planta.Desc }}" required>
                  <input type="text" name="Valor" value="{{ Planta.Valor }}" required> 
                  <button type="submit">Update</button>
              </div>
            </form>
        </div>
      {%endfor%}
    </ul>
  </main>
  <footer>
    <img src="static/Img/Logotipo.png" alt="">
    <p>(00) tele</p>
    <p>@email</p>
    <p>www.site.com.br</p>
    <p>Estado/UF</p>
  </footer>
</body>
</html>